* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {

    /* CORES PRINCIPAIS */
    --color-dark-mode: #191919;
    --color-dark-content: #666666;
    --color-light-content: #A7A7A7;
    --color-solid-heading: #42446E;
    --color-solid-heading-dark: #CCCCCC;
    --color-gradient-heading: linear-gradient(to right, #13b1f5 3%, #e70faa 100%);

    /* FONTES */
    --font: 'Poppins';

    --font-family: "Poppins";
    --font-headline-1-size: 58px;
    --font-headline-1-weight-bold: 700;

    --font-headline-2-size: 48px;
    --font-headline-2-weight: 700;
    
    --font-headline-3-size: 30px;
    --font-headline-3-weight: 400;

    --font-body-1-size: 28px;
    --font-body-1-weight-regular: 400;
    --font-body-1-weight-medium: 500;

    --font-body-2-size: 20px;
    --font-body-2-weight-regular: 400;
    --font-body-2-weight-medium: 500;

    --font-body-3-size: 18px;
    --font-body-3-weight-regular: 400;
    --font-body-3-weight-medium: 500;

    --font-body-4-size: 16px;
    --font-body-4-weight-regular: 400;
    --font-body-4-weight-medium: 500;

    --font-body-5-size: 14px;
    --font-body-5-weight-regular: 400;
    --font-body-5-weight-medium: 500;
}