@import url(./global.css);

/* -----------HEADER----------- */
header {
    background-color: var(--color-dark-mode);

}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 203px 0px 180px;
}

.header-links {
    display: flex;
    gap: 50px;
    font-size: var(--font-body-2-size);
}

.header-links a {
    text-decoration: none;
    color: var(--color-light-content);
    font-family: var(--font-family);
    font-size: var(--font-body-2-size);
}

.header-icons {
    display: flex;
    gap: 20px;
    padding-left: 40px;
}

/* -----------FIM HEADER----------- */
/* -----------MAIN----------- */
main {
    background-color: var(--color-dark-mode);
    padding-bottom: 160px;

}

.content-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-light-content);
    font-family: var(--font-family);
    padding: 100px 160px 0px 160px;
}

.content-main span {
    background: linear-gradient(to right, #13b1f5 3%, #e70faa 100%);
    /* Gradiente linear */
    -webkit-background-clip: text;
    /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent;
    /* Torna o texto transparente para mostrar o gradiente */
}

.content-main img {

    position: relative;
    padding: 4px;
    /* Espaço interno */
    /* Torna a borda transparente */
    border-radius: 230px;
    /* Bordas arredondadas (opcional) */
    background: linear-gradient(to right, #13b1f5 3%, #e70faa 100%);
    /* Gradiente */
    background-clip: border-box;
    /* Faz o gradiente "clipar" na borda */

}

/* -----------FIM MAIN----------- */
/* -----------TECH STACK----------- */

.tech-stack {
    background-color: var(--color-dark-mode);

}


.content-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-stack h2 {
    color: var(--color-light-content);
    font-family: var(--font-family);
    font-size: var(--font-headline-3-size);
    font-weight: var(--font-headline-2-weight);
}

.content-stack p {
    color: var(--color-light-content);
    font-family: var(--font-family);
    font-size: var(--font-body-2-size);
    font-weight: var(--font-body-2-weight-regular);
    padding-bottom: 80px;
}

.tech-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

/* -----------FIM TECH STACK----------- */
/* -----------PROJECTS----------- */
.projects {
    background-color: var(--color-dark-mode);
    padding-top: 140px;
}

.projects-card {
    display: flex;
    flex-direction: column;
}

.content-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-projects h2 {
    color: var(--color-light-content);
    font-family: var(--font-family);
    font-size: var(--font-headline-3-size);
    font-weight: var(--font-headline-2-weight);
}

.content-projects-image img {
    border-radius: 14px 14px 0px 0px;
    padding-bottom: 0px;

}

.content-projects p {
    color: var(--color-light-content);
    font-family: var(--font-family);
    font-size: var(--font-body-2-size);
    font-weight: var(--font-body-2-weight-regular);
    padding-bottom: 80px;
}

.projects-descritions {
    width: 314px;
    height: 160px;
}

.projects-descritions h3 {
    display: flex;
    justify-content: center;
    color: var(--color-solid-heading-dark);
    font-family: var(--font-family);
    font-size: var(--font-body-6-size);
    font-weight: var(--font-body-6-weight-medium);
}

.projects-descritions p {
    padding: 10px;
    color: var(--color-light-content);
    font-family: var(--font-family);
    font-size: var(--font-body-5-size);
    font-weight: var(--font-body-5-weight-light);
}

.projects-links {
    width: 314px;
    height: 160px;
    display: flex;
    justify-content: space-around;
}

.link-one {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link-one a {
    color: var(--color-light-content);
    font-family: var(--font-family);
    font-size: var(--font-body-5-size);
    font-weight: var(--font-body-5-weight-regular);
    text-decoration: none;
}

.projects-card {
    background-color: var(--color-dark-content-two);
    width: 314px;
    height: 190px;
    border-radius: 0px 0px 14px 14px;
}

.cards-pro {
    display: flex;
}

.projects-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;

}

/* -----------FIM PROJECTS----------- */
/* -----------FOOTER----------- */

footer {
    background-color: var(--color-dark-mode);
}

.content-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-information {
    display: flex;
    gap: 33px;
    transition: transform 0.3s ease;
}

.content-information a:hover {
transform: scale(1.1);
    
}

.content-information a {
    text-decoration: none;
    color: var(--color-light-content);
    font-family: var(--font-family);
    font-size: var(--font-body-2-size);
}


/* -----------FIM FOOTER----------- */